<h1>New Bookmark</h1>

<form method="post" action="/bookmarks/create">
  <label>Url</label>
  <input type="text" name="url" value="<%= params[:url] %>" size="80"><br />
  <label>Username</label>
  <input type="text" name="username" value="<%= params[:username] %>"><br />
  <input type="submit" value="register!">
</form>